<p id="notice"><%= notice %></p>

<p>
  <strong>C1:</strong>
  <%= @column_sample.c1 %>
</p>

<p>
  <strong>C2:</strong>
  <%= @column_sample.c2 %>
</p>

<p>
  <strong>C3:</strong>
  <%= @column_sample.c3 %>
</p>


<%= link_to 'Edit', edit_column_sample_path(@column_sample) %> |
<%= link_to 'Back', column_samples_path %>
